:root{
    --dark: #031f03;
    --medium: #017001;
    --light: #7df56a;
}

body{

}

.title-block{
    color: var(--medium);
    background-color: var(--dark);
    opacity: 60%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; 
    grid-template-areas: ;
    
}
