:root{
    --dark: #031f03;
    --medium: #017001;
    --light: #7df56a;
}
/* I put the background in the css instead of the html so the image tag does not interfere with the grid */
body{
    /* background-image: url("/assets/images/woodland.jpg");
    margin:0%; */
    display: grid;
    grid-template-rows: 10% 50%  30%  ;
    grid-template-columns: 20%  20% 30%  ; 
    grid-template-areas: 
    
    "img img aside"
    "header header aside"
    "section  section aside"
    ;
}
img{
    grid-area: img;
}

header{
    display: inline;
    grid-area: header;
    background-color: var(--dark);
    color: var(--medium);
    font-size: large;
    padding: 50px;
    
   
}

section p {
    grid-area: section;
    background-color: pink;
    color: var(--medium); 
    
}



aside{ 
    grid-area: aside;
    color: var(--medium);  
}