:root{
    --dark: #031f03;
    --medium: #017001;
    --light: #7df56a;
}

/* I put the background in the css instead of the html so the image tag does not interfere with the grid */
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding:0px;
    background-color: rgb(1, 17, 17);
    /* background-image: url("/assets/images/woodland.jpg");
    margin:0%; */
    /* display: grid;
    grid-template-rows: 10% 50%  30%  ;
    grid-template-columns: 20%  20% 30%  ; 
    grid-template-areas: 
    
    "img img aside"
    "header header aside"
{    "section  section aside"
    ; */
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin:0;
    padding: 150px 150px 150px 500px;
    font-size: 30px;
    text-decoration: none;
    background-image: url("/assets/images/hero-image.jpg");
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -700px;
    font-size: 50px;
    margin-left: 150px;
    
}

h2{
    font-size: 35px;
    margin-left: 225px;
    margin-top: -30px;
}
.hero-banner{
    background-color: #017001;
}

img{
    margin-left: 600px;
    margin-top: -150px;
}

nav > ul >li{ 
    display: flex;  
    flex-direction: column;
    background-color: #f1c083;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 300px;
    height: 220px;
    margin: -50px 10px;
    padding-bottom: 70px;
    text-decoration: none;
}

.side-bar{
    text-decoration: none;
    text-emphasis: none;
}

#about{
    margin: 600px 100px 50px 50px;
    font-size: 24px;
}

a{
    text-decoration: none;
}

#projects{
    display: flex;
    justify-content: center;
    align-items:center;
}

#contact{
    margin-top: 200px;
    font-size: 24px;
}

